<!-- class Promotion({title, text, cta, image}) -->
<section class="c-Promotion" style="background-image: url('{{ data.image }}');">
  <h1 class="c-Promotion__Hn">{{ data.title }}</h1>
  <p class="c-Promotion__Text">{{ data.text }}</p>
  <p><a class="c-Promotion__Cta c-Button" href="{{ data.cta.url }}">{{ data.cta.text }}</a></p>
</section>
