<!-- class Stat({icon, number, text, cta}) -->
<p class="c-Stat">
  <i class="c-Stat__Icon h-Block glyphicons glyphicons-{{ data.icon }}" role="none" aria-hidden="true"></i>
  <span class="c-Stat__Num h-Block">{{ data.number }}</span>
  <span class="c-Stat__Text h-Block">{{ data.text }}</span>
  <br/>
  <a class="c-Stat__Cta c-Button" href="{{ data.cta.url }}">{{ data.cta.text }}</a>
</p>
