{# class Stat({icon, number, rep, cta}) #}
<p class="c-Stat">
  <i class="c-Stat__Icon h-Block glyphicons glyphicons-{{icon}}" role="none" aria-hidden="true"></i>
  <span class="c-Stat__Num h-Block">{{number}}</span>
  <span class="c-Stat__Rep h-Block">{{rep}}</span>
  <br/>
  <a class="c-Stat__Cta c-Button" href="{{cta.url}}">{{cta.text}}</a>
</p>
