<!doctype html>
<html lang="en">
<head>
  <title>American Society of Civil Engineers</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://cdn.asce.org/chewie/assets/futura.css"/>
  <link rel="stylesheet" href="https://cdn.asce.org/chewie/assets/glyphicons_pro_1_9_2/glyphicons/web/html_css/css/glyphicons.css"/>
  <link rel="stylesheet" href="https://cdn.asce.org/chewie/assets/glyphicons_pro_1_9_2/glyphicons-filetypes/web/html_css/css/glyphicons-filetypes.css"/>
  <link rel="stylesheet" href="https://cdn.asce.org/chewie/assets/glyphicons_pro_1_9_2/glyphicons-halflings/web/html_css/css/glyphicons-halflings.css"/>
  <link rel="stylesheet" href="https://cdn.asce.org/chewie/assets/glyphicons_pro_1_9_2/glyphicons-social/web/html_css/css/glyphicons-social.css"/>

  <link rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/v6.0.0/xmeter.css"/>
  <link rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.15.0/bangs.css"/>
  <link rel="stylesheet" href="anakin.css"/>

  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic"/> -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,400italic,700"/> -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/> -->

  <script title="list of variables used on this page">
    /**
     * Assume the `data` object is imported from user input
     * @type {object}
     */
    let data = {}
    /**
     * Promotional sections.
     * @type {Array<Object{title:string, text:string, cta:{text:string, url:string}}>}
     */
    data.promotions = [
      {
        title: `Dream Big: Engineering Our World`,
        text : `A giant-screen film about engineering will take viewers on a journey
          of discovery from the world’s tallest building to a bridge higher than the clouds.`,
        cta  : { text: 'Find a screen', url: '#0' },
      },
    ]
    /**
     * Object containing links for each portal.
     * Each array should have no more than 4 items.
     * Each object in the array should have a text (string) and a url (string).
     * @type {Object<Array<{text:string, url:string>>}}
     */
    data.portal_links = {
      membership  : [{text:'Manage My Membership', url:'#0'}, {text:'Join ASCE', url:'#0'}, {text:'', url:''}, {text:'', url:''}],
      cont_ed     : [{text:'', url:''}, {text:'', url:''}, {text:'', url:''}, {text:'', url:''}],
      pubs        : [{text:'', url:''}, {text:'', url:''}, {text:'', url:''}, {text:'', url:''}],
      confs_events: [{text:'', url:''}, {text:'', url:''}, {text:'', url:''}, {text:'', url:''}],
      professional: [{text:'', url:''}, {text:'', url:''}, {text:'', url:''}, {text:'', url:''}],
      careers     : [{text:'', url:''}, {text:'', url:''}, {text:'', url:''}, {text:'', url:''}],
    }
    // /**
    //  * Blurb used for ASCE Foundation section.
    //  * @type {string}
    //  */
    // data.foundation_blurb = `` // NOTE may need this later
    /**
     * ASCE7 section content.
     * @type {string}
     */
    data.asce7_body = `
      <h2>ASCE 7 Online</h2>
      <p>Digital access to both ASCE/SEI 7-16 and 7-10.</p>
      <a clas="c-Button" href="#0">Learn More</a>
      <h2>ASCE 7 Hazard Tool</h2>
      <p>Look up key design parameters as specified by ASCE 7.</p>
      <a clas="c-Button" href="#0">Learn More</a>
    `
    /**
     * Civil Engineering Magazine section content.
     * @type {string}
     */
    data.cemag_body = `
      <h2>Featured this Month</h2>
      <article>
        <h3>Topographic Transformation</h3>
        <p><time datetime="2017-06">June 2017</time></p>
        <p>The formerly flat Governors Island, in New York City harbor, is home to...</p>
        <p><a>Read more</a></p>
      </article>
    `
    /**
     * Links for Technical Information section.
     * This array should have no more than 4 items.
     * Each object in the array should have a text (string) and a url (string).
     * @type {Array<{text:string, url:string>}}
     */
    data.tech_info_links = [
      { text: 'Find a local group'   , url: '#0' },
      { text: 'Browse publications'  , url: '#0' },
      { text: 'Register for a course', url: '#0' },
      { text: 'Find a conference'    , url: '#0' },
    ]
    /**
     * Links for Get Involved section.
     * This array should have no more than 4 items.
     * Each object in the array should have a text (string) and a url (string).
     * @type {Array<{text:string, url:string>}}
     */
    data.get_involved_links = [
      { text: 'View volunteer opportunities'       , url: '#0' },
      { text: 'Find a Section or Branch'           , url: '#0' },
      { text: 'Visit <cite>ASCE Collaborate</cite>', url: '#0' },
      { text: 'Find a committee'                   , url: '#0' },
    ]
    /**
     * Articles for What’s Happening section.
     * This array should have no more than 3 items.
     * Each object in the array should have a title (string), url (string), image (string), and date (Date).
     * @type {Array<{title:string, url:string, image:string, date:Date>}}
     */
    data.news = [
      { title: 'ASCE’s New Infrastructure Report Card: Another D+, But Solutions Available', url: '#0', image: '', date: new Date('2017-03-09') },
      { title: 'Emergency and Carryover Storage Project Earns OCEA'                        , url: '#0', image: '', date: new Date('2017-03-16') },
      { title: 'Former Corps Chief Bostick Honored with OPAL Award'                        , url: '#0', image: '', date: new Date('2017-03-16') },
    ]
    /**
     * Stories for Member Stories section.
     * This array should have no more than 3 items.
     * Each object in the array should have a name (string), title (string), image (string), and quote (string).
     * @type {Array<{name:string, title:string, image:string, quote:string>}}
     */
    data.member_stories = [
      { name: 'Katie Haslett', title: 'Student Member', image: '', quote: `The impact of seeing successful...` },
      { name: 'Nakeia Jackson', title: '2017 New Faces of Civil Engineering', image: '', quote: `When you become an engineer...` },
      { name: 'Damani Nkeiruka', title: 'Distinguished Member', image: '', quote: `There are so many infrastructure and...` },
    ]
  </script>
</head>
<body>
  <a class="h-Hidden" href="#main">skip to main content</a>
  <header>
    <h1>American Society of Civil Engineers</h1>
    <p>Header and Megamenu</p>
  </header>
  <main id="main">
    <div id="hero">
      <p>
        <span>The 2017 Report Card for America’s Infrastructure is available now.</span>
        <a href="#0">View the Report Card</a>
      </p>
    </div>
    <section id="we-represent">
      <blockquote>Civil Engineers are global leaders building a better quality of life.</blockquote>
      <h1>We Represent:</h1>
      <ul class="o-List o-Flex">
        <li class="o-List__Item o-Flex__Item">{{ new Stat({ icon:'group' , number:150000, text:'Members'   , cta:{text:'Join ASCE'        , url:'#0'} }) }}</li>
        <li class="o-List__Item o-Flex__Item">{{ new Stat({ icon:'map'   , number:177   , text:'Countries' , cta:{text:'Find a Chapter'   , url:'#0'} }) }}</li>
        <li class="o-List__Item o-Flex__Item">{{ new Stat({ icon:'shield', number:9     , text:'Institutes', cta:{text:'Join an Institute', url:'#0'} }) }}</li>
      </ul>
    </section>
    <aside>ADVERTISEMENT</aside>
    <section id="jobs"></section>
    <section id="promotions">
      <h1 class="h-Hidden">Promotions</h1>
      <ul>
        {% for item in data.promotions %}
          <li>{{ new Promotion(item) }}</li>
        {% endfor %}
      </ul>
    </section>
    <section id="portals">
      <h1 class="h-Hidden">Portals</h1>
      <ol class="o-List o-Grid" style="--cols: 3;">
        <li class="o-List__Item o-Grid__Item">{{ new Portal({ title:'Membership'              , icon:'nameplate'   , links:data.portal_links.membership }) }}</li>
        <li class="o-List__Item o-Grid__Item">{{ new Portal({ title:'Continuing Education'    , icon:'education'   , links:data.portal_links.cont_ed }) }}</li>
        <li class="o-List__Item o-Grid__Item">{{ new Portal({ title:'Publications'            , icon:'book-open'   , links:data.portal_links.pubs }) }}</li>
        <li class="o-List__Item o-Grid__Item">{{ new Portal({ title:'Conferences &amp; Events', icon:'calendar'    , links:data.portal_links.confs_events }) }}</li>
        <li class="o-List__Item o-Grid__Item">{{ new Portal({ title:'Professional'            , icon:'address-book', links:data.portal_links.professional }) }}</li>
        <li class="o-List__Item o-Grid__Item">{{ new Portal({ title:'Careers'                 , icon:'briefcase'   , links:data.portal_links.careers }) }}</li>
      </ol>
    </section>
    <aside>ADVERTISEMENT</aside>
    <section>
      <h1>ASCE Foundation</h1>
      <p>Making a positive change in our communities is possible… but only if we
        start now, set our sights high, and work together.</p>
      {{
        new Stat({
          icon  : 'donate',
          number: 25,
          text  : 'Programs Supported',
          cta   : { text: 'Give a Gift' , url: '#0' },
        })
      }}
    </section>
    <section id="publication-highlights">
      <h1 class="h-Hidden">Publication Highlights</h1>
      <section>
        <h1>ASCE 7</h1>
        <p><cite>Minimum Design Loads and Associated Criteria for Buildings and Other Structures</cite>, ASCE/SEI 7-16</p>
        <ul>
          <li><a href="#0">Provisions &amp; Commentary</a></li>
          <li><a href="#0">Guides &amp; more</a></li>
        </ul>
        <article>{{ data.asce7_body }}</article>
      </section>
      <section>
        <h1>Civil Engineering Magazine</h1>
        <p>The Official magazine of the American Society of Civil Engineers.</p>
        <ul>
          <li><a href="#0">Learn More</a></li>
        </ul>
        <article>{{ data.cemag_body }}</article>
      </section>
    </section>
    <section id="learn-contribute">
      <h1 class="h-Hidden">Learn &amp; Contribute</h1>
      <section id="technical-information">
        <header>
          <h1>Technical Infomation</h1>
          <p>Access the latest technical information in your discipline.</p>
        </header>
        <ul>
          {% for item in data.tech_info_links %}
            <li><a href="{{ item.url }}">{{ item.text }}</a></li>
          {% endfor %}
        </ul>
      </section>
      <section id="get-involved">
        <header>
          <h1>Get Involved</h1>
          <p>Dedicate your time and expertise to a cause that is important to you.</p>
        </header>
        <ul>
          {% for item in data.get_involved_links %}
            <li><a href="{{ item.url }}">{{ item.text }}</a></li>
          {% endfor %}
        </ul>
      </section>
    </section>
    <section id="whats-happening">
      <h1>What’s Happening at ASCE</h1>
      <ul>
        {% for item in data.news %}
          <li>{{ new ArticleTeaser(item) }}</li>
        {% endfor %}
      </ul>
      <p><a href="#0">Read more at <cite>ASCE News</cite></a></p>
    </section>
    <section id="member-stories">
      <h1>ASCE Member Stories</h1>
      <ul>
        {% for item in data.member_stories %}
          <li>{{ new MemberStory(item) }}</li>
        {% endfor %}
      </ul>
    </section>
    <p><a href="#0">Join ASCE</a></p>
  </main>
  <footer>
    p ASCE Footer
  </footer>
  <a class="h-Hidden" href="#top">jump to top</a>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"/>
</body>
</html>
